*.iml
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
google-services.json

*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
.gradle
/build/
gradle-app.setting
.gradletasknamecache
